.navbar {
  box-shadow: 0px 3px 6px #3292a6;
}

.nav-link {
  font-size: 24px;
}

header {
  background-image:
    linear-gradient(rgba(50, 147, 166, 0.7), rgba(50, 147, 166, 0.7)),
    url(../images/mountains.jpg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
.author img{
margin-top: -80px;
}